<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: pink;
}

@media screen and (max-width: 400px) {
  body {
    background-color: lightgreen;

  }
  .img_bulid{
  width:70%;
  hight:500px;
  }
}
</style>
</head>
<body>

<h1>Resize the browser window to see the effect!</h1>
<p>The media query will only apply if the media type is screen and the viewport is 480px wide or wider.</p>
<img class="img_bulid" src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" >
</body>
</html>
